{{- $headless := true -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
# chezmoi execute-template --init --promptString "Email address=me@home.org" < ~/.local/share/chezmoi/.chezmoi.toml.tmpl
[git]
    # Whenever a change is made to your source directory, chezmoi will commit the changes with an automatically-generated commit message (if autoCommit is true) and push them to your repo (if autoPush is true). autoPush implies autoCommit,
    autoCommit = true
    autoPush = true
[data]
    email = {{ $email | quote }}
    personal = {{ $personal }}
    headless = {{ $headless }}
    ephemeral = {{ $ephemeral }}

# [interpreters.ps1]
#     command = "powershell"
#     args = ["-NoLogo"]
# [github]
#     refreshPeriod = "12h"




{{- if lookPath "podman" }}

[docker]
    command = "podman"
{{- end }}