{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $email := promptStringOnce . "email" "Email address" -}}
# chezmoi execute-template --init --promptString "Email address=me@home.org" < ~/.local/share/chezmoi/.chezmoi.toml.tmpl
[git]
    # Whenever a change is made to your source directory, chezmoi will commit the changes with an automatically-generated commit message (if autoCommit is true) and push them to your repo (if autoPush is true). autoPush implies autoCommit,
    autoCommit = true
    autoPush = true
[data]
    email = {{ $email | quote }}
    personal = {{ $personal }}


# [github]
#     refreshPeriod = "12h"




{{- if lookPath "podman" }}

[docker]
    command = "podman"
{{- end }}