# ; ansible-config dump --only-changed ; see changed configs
# DEFAULT_MODULE_PATH = {{ ANSIBLE_HOME ~ "/plugins/modules:/usr/share/ansible/plugins/modules" }}

[defaults]
action_plugins = ./action_plugins
inventory = inventory
# private_key_file = ~/.ssh/id_ed25519
vault_password_file = ~/.ssh/.ansible_key
display_skipped_hosts = false
interpreter_python = /usr/bin/python3
host_key_checking = false
    #to disable first time ssh key checking host key No RSA fingerprints
gathering = explicit
    #explicit (not gather), smart (1 time for host), implicit (default, facts will be gathered per play)
# remote_user = root
# remote_port = 22
# retry_files_anabled = False  #If failes dont create retry files
# action_warnings = False #Silence Action warnings
# log_path = /var/log/ansible.log
# stdout_callback = debug

# default is 5 Ansible executes a task on the first five hosts, waits for the task to complete, ansible-playbook site.yaml --forks 50
# ; forks=20

# ; https://docs.ansible.com/ansible/latest/plugins/callback.html
# stdout_callback = debug
# callbacks_whitelist = ansible.builtin.tree,ansible.posix.timer,ansible.posix.profile_roles,ansible.posix.profile_tasks
# callbacks_enabled=community.general.yaml,ansible.builtin.tree,ansible.posix.timer,ansible.posix.profile_roles,ansible.posix.profile_tasks
# only one of them can be stdout_callback

# very dense only task numbers No output per task includinf debugs
# callbacks_enabled = community.general.dense
# stdout_callback = community.general.dense

; stdout_callback = community.general.yaml
# yaml output is yaml not json (more clear view)
callback_result_format=yaml
# unixy output is readable json (more clear view)
# callbacks_enabled = community.general.unixy
# stdout_callback = community.general.unixy

; https://docs.ansible.com/ansible/latest/collections/ansible/builtin/tree_callback.html ()
# callbacks_enabled = ansible.builtin.tree
# [callback_tree]
# directory = ~/.ansible/tree

[ssh_connections]
pipelining = true

# [ssh_connection]
# ssh_args            = -F /dev/null -o ControlMaster=auto -o ControlPersist=60s
# transfer_method     = scp
# scp_extra_args      = -O
# scp_if_ssh          = True

# -O argument is used for OpenSSH versions 9.0 and above
# scp_if_ssh: A legacy option that determines whether to use the SCP method if SSH is used for file transfers instead of SFTP.
# ssh_args: In this case, it sets the -F option to /dev/null, which means Ansible will use an empty SSH configuration file. The -o options set ControlMaster=auto and ControlPersist=60s, which enable SSH connection sharing and persistence for improved performance. transfer_method: Specifies the method Ansible should use for transferring files to remote hosts. In this example, it’s set to scp, which uses the Secure Copy Protocol for file transfers. The default value is smart which uses preferred SFTP protocol and fallback to SCP.
# [ssh_connection]
# ssh_args = -o ControlMaster=auto -o ControlPersist=60s
# ; scp_if_ssh: true
# ; scp_extra_args: "-O"
# ControlMaster allows multiple simultaneous SSH sessions with a remote host to use a single network connection. This saves time on an SSH connection's initial processes because later SSH sessions use the first SSH connection for task execution.
# ControlPersist indicates how long the SSH keeps an idle connection open in the background. For example, ControlPersist=60s keeps the connection idle for 60 seconds:

# Privilege Escalation: The become settings allow you to specify whether Ansible should use privilege escalation and the method to use.
# [privilege_escalation]
# become = True
# become_method = sudo
# become_user = root

# [paramiko_connection] This section configures settings specific to Paramiko, an alternative to SSH.
# pipelining = True

# [inventory] This section deals with the configuration of the inventory.
# enable_plugins = host_list, script, yaml, ini, auto
# enable_plugins = oracle.oci.oci

# ; [callback_log_plays]
# ; log_folder = ~/log/ansible/hosts
